@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

//* TEXT
$font-fam-titles: 'Open Sans, sans-serif';
$font-fam-text: 'Open Sans, sans-serif';

$font-size-small: .75rem;
$font-size-medium: 1rem;
$font-size-large: 2rem;
$font-size-huge: 3rem;

$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 800;

//* COLORS
$color-bg: #ffe600;
$color-text: #000;